@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(http://fonts.gstatic.com/s/merriweather/v8/So5lHxHT37p2SS4-t60SlL52ooqJRs02xO3mONBoqeI.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(http://fonts.gstatic.com/s/merriweathersans/v5/AKu1CjQ4qnV8MUltkAX3sMoBJSyBiVuloIc8IXLz46o.woff) format('woff');
}


body {
	font-family: Merriweather, serif;
	color: #333;
	background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

.main {
	min-height: calc(100vh - 100px);
	margin: 0 auto;
	width: 870px;
}

.flex-parent { 
	display: -webkit-flex; 
	display: flex; 
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
} 


.flex-child { 
	-webkit-flex: initial; 
	flex: initial; 
}

.flex-column {
	-webkit-flex-flow: column wrap; 
	flex-flow: column wrap; 
}

ul {
	list-style: none;;
}

a, a:active, a:visited, a:link {
	text-decoration: none;
	color: #333;
}

.task-item {
        padding: 0.5em 0.5em 0.5em 1em;
}

#menu {
	padding: 0 2em 2em;
        background: #FbFbFb;
}

.last-things {
    font-family: 'Merriweather Sans', sans-serif;
}

.last-things a, .templates-item-meta a {
    display: block;
}

.templates-item-meta {
    font-size: 15px;
    line-height: 19px;
    text-decoration: underline;
}

#tasks, #templates {
    width: 619px;
}

.task-name-input {
    width: 70%;
}

.task-date-input {
    width: 25%;
}

.done-mark {
	padding-top: 8px;
}

.item-meta {
    font-size: 12px;
    font-style: italic;    
}

.meta-info {
	font-style: italic;
	color: #111;
        font-size: 14px;
}

.deadline {
	float: right;
        text-align: right;
}

.overdue {
	color: #e00;
}

.text-info {
	width: 75%;
	padding: 0.5em;
}

footer {
	height: 100px;
	margin: 0 auto;
	width: 870px;
	text-align: center;
        background: #FBFBFB;
}

#add-new-task {
    padding: 1em;
    border: 1px solid #979797;
    overflow: hidden;
}

input[type='submit'] {
	border-radius: 3px;	
	background: #585858;
        border: 0;
        -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
        box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
	font-size: 16px;
	color: white;
	padding: 5px 10px;
}

.submit-btn {
    float: right;
    margin-top: 1em;
    margin-right: 0.5em;
}

.loginFormHolder {
	margin: 0 auto;
	width: 214px;
	position: relative;
  	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.loginFormHolder input {
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.odd-item {
    background: #FBFBFB;
}

.even-item {
    background: white;
}

.add-new-template {
    margin: 1em;
}